<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <table>
        <%-include('partials/header.ejs')%>
        <tbody>
            <% superheroes.forEach(hero => { %>
                <tr>
                    <td><%= hero.id %></td>
                    <td><%= hero.nombreSuperHeroe %></td>
                    <td><%= hero.nombreReal %></td>
                    <td><%= hero.edad %></td>
                    <td><%= hero.planetaOrigen %></td>
                    <td><%= hero.debilidad %></td>
                    <td><%= hero.poderes.join(", ") %></td>
                    <td><%= hero.aliados.join(", ") %></td>
                    <td><%= hero.enemigos.join(", ") %></td>
                    <td><%= hero.creador %></td>
                    <td><%= hero.createAt %></td>
                    <td><a href="/api/heroes/<%= hero.id %>/editar"><button>Editar</button></a></td>
                    <td><button onclick="eliminarHeroe('<%= hero.id %>')">Eliminar</button></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/api/heroes/nuevo">
        <button>Nuevo Superhéroe</button>
    </a>
    <script>
        async function eliminarHeroe(id) {
            const confirmado = confirm("¿Estás seguro de que quieres eliminar este superhéroe?");
            if (!confirmado) return;
            try {
            const respuesta = await fetch(`/api/heroes/${id}`, {
            method: 'DELETE'
            });
            if (respuesta.ok) {
                alert("Superhéroe eliminado con éxito.");
              location.reload(); // recarga la página para actualizar la lista
            } else {
                const data = await respuesta.json();
                alert("Error al eliminar: " + data.mensaje);
            }
            } catch (error) {
                alert("Error al conectar con el servidor.");
                console.error(error);
            }
        }
    </script>
    
</body>
</html>